{% block widgetContent %}
	<ul class="list-group fs-12">
		<li class="list-group-item d-flex justify-content-between align-items-center">
			Lorem ipsum adpiscing
			<span class="badge badge-success badge-pill">7</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			Consectur anim primera
			<span class="badge badge-primary badge-pill">14</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			Adpiscing lorem ipsum
			<span class="badge badge-warning badge-pill">2</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			Ipsum consectur eid
			<span class="badge badge-primary badge-pill">23</span>
		</li>
	</ul>
{% endblock %}