<div class="loader">
    <div class="loadding-centered d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
