/* LaCaixa old css */
/* Definimos css para widgets de area comercial */
#page-wrapper { padding-top: 20px; margin-left: 0; background-size: cover; background-attachment: fixed; }
div[data-box] { margin: 10px; padding: 0; }
div[data-box='ComercialVisitas'] .divWidget:hover { background-color: rgba(51, 122, 183, 1); }
div[data-box='ComercialExpedientes'] .divWidget:hover { background-color: rgba(92, 184, 92, 1); }
div[data-box='ComercialSolicitudes'] .divWidget:hover, div[data-box='alertas-asnef'] .divWidget:hover { background-color: rgba(197, 31, 61, 1); }
div[data-box='ComercialOperaciones'] .divWidget:hover { background-color: rgba(240, 173, 78, 1); }

.rowHome { float: left; width: 100%; max-width: 1200px; min-width: 1200px; margin: 0 calc(50% - (1200px / 2)); }
.containerWidget { float: left; width: calc((100% / 2) - 20px); }
.halfWidth { float: left; width: calc(50% - 20px); margin: 10px; padding: 0; }
.containerWidget .divWidget { min-height: 140px; padding: 10px; color: #fff; border-radius: 8px; box-shadow: 0 0 1px rgba(0,0,0,0.5); cursor: pointer; }
.containerWidget .divWidget:hover { box-shadow: 0 0 2px rgba(0,0,0,0.7); }
.containerWidget a { color: inherit; text-align: center; }
.containerWidget a .divWidget header i { float: left; max-width: 35px; font-size: 32px; text-align: left; }
.containerWidget a .divWidget header span { float: left; font-size: 16px; font-weight: 600; margin: 5px 0 0 10px; }
.btnCrearVisita { float: right; background-color: #fff; color: #4484bc; position: relative; }
.btnCrearExpediente { float: right; background-color: #fff; color: #66ba68; position: relative; }
.btnCrearVisita:hover { color: #337ab7; }
.btnCrearExpediente:hover { color: #5cb85c; }

.customTooltip { display: none; top: -50px; position: absolute; background-color: rgb(255, 188, 0); border-color: rgb(216, 160, 2); padding: 5px 10px; border-radius: 10px; }
.customTooltip .tooltipTriangle { position: absolute; top: 29px; left: calc(50% - 8px); width: 0; height: 0; border-style: solid; border-width: 8px 8px 0 8px; }
.btnCrearVisita .customTooltip { background-color: #337ab7; color: #fff; }
.btnCrearVisita .tooltipTriangle { border-color: #337ab7 transparent transparent transparent; }
.btnCrearExpediente .customTooltip { background-color: #5cb85c; color: #fff; }
.btnCrearExpediente .tooltipTriangle { border-color: #5cb85c transparent transparent transparent; }

@media screen and (max-width: 1199.9px){
    .rowHome { max-width: initial; min-width: initial; margin: 0; }
}

/* .LaCaixa old css */